.preset-builds-picker-root {
	margin-bottom: var(--block-spacer);

	.presets-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: var(--block-spacer);

		.saved-data-set-chip {
			margin: 0;

			.saved-data-set-name {
				width: 100%;
			}
		}
	}
}
