@use 'sass:map';

.character-stats-root {
	width: 100%;

	.character-stats-label {
		margin-bottom: var(--spacer-2);
		display: flex;
	}

	.character-stats-table {
		width: 100%;
		border-bottom: $border-default;

		.character-stats-table-row {
			font-size: var(--content-font-size);

			&:first-child {
				border-top: $border-default;
			}

			&:last-child {
				.character-stats-table-label,
				.character-stats-table-value {
					padding-bottom: var(--spacer-2);
				}
			}

			.character-stats-table-label,
			.character-stats-table-value {
				padding-top: var(--spacer-2);
			}

			.character-stats-table-label {
				padding-right: var(--spacer-2);
				text-align: left;
			}

			.character-stats-table-value {
				padding-left: var(--spacer-2);
				font-weight: bold;
				text-align: right;

				.stat-value-link-container {
					display: inline-flex;
					flex-direction: column;
				}
			}
		}
	}
}

.tippy-box[data-theme='bonus-stats-popover'] {
	.number-picker-root {
		flex-direction: column;

		.number-picker-input {
			width: 8rem;
			margin: 0 !important;
			flex: 1;
		}
	}
}

.character-stats-tooltip-row {
	display: flex;
	justify-content: space-between;

	span:first-child {
		margin-right: var(--spacer-2);
	}
}
