@use 'sass:map';

.content-block {
	display: flex;
	flex-direction: column;

	&:not(:last-child) {
		margin-bottom: calc(2 * var(--spacer-3));
	}

	.content-block-header {
		border-bottom: $border-default;
		margin-bottom: var(--block-spacer);
		display: flex;

		.content-block-title {
			font-weight: bold;
		}
	}

	.content-block-body {
		display: flex;
		flex-direction: column;
	}
}
