@use 'sass:map';

@import './enum_picker';
@import './list_picker';
@import './number_picker';

.encounter-picker-root {
	display: flex;
	flex-wrap: wrap;

	.execute-group {
		width: 100%;
		flex-direction: column;
		flex-wrap: nowrap;
	}

	.advanced-button {
		min-width: calc(50% - 0.5rem);
	}
}

.advanced-encounter-picker-modal {
	.modal-body {
		overflow: auto;
	}

	.encounter-picker {
		width: 33.33%;

		@include media-breakpoint-down(sm) {
			width: 50%;
		}
	}

	.execute-group {
		flex-direction: row;
	}

	.target-picker-root {
		display: grid;
		gap: var(--spacer-3);
		grid-template-columns: 1fr;
		@include media-breakpoint-up(xl) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		.input-root:is(:only-child),
		.input-root:is(:last-child) {
			margin-bottom: 0;
		}
	}
}

.hide-threat-metrics {
	.advanced-encounter-picker-modal {
		// Use visibility to maintain thirds nicely for the modal layout
		.target-picker-section3.threat-metrics {
			display: block !important;
			visibility: hidden;

			.input-root {
				display: none;
			}
		}
	}
}

@include media-breakpoint-down(xxl) {
	.encounter-picker-root {
		.advanced-button {
			width: 100%;
		}
	}
}

@include media-breakpoint-down(xl) {
	.hide-threat-metrics {
		.advanced-encounter-picker-modal {
			// Hide this section instead on < smaller screens
			.target-picker-section3.threat-metrics {
				display: none !important;
			}
		}
	}

	.advanced-encounter-picker-modal {
		.encounter-header {
			.picker-group {
				width: 100% !important;
			}
		}

		.target-picker-root {
			.target-picker-section {
				width: 100%;

				margin-right: 0;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.advanced-encounter-picker-modal {
		.encounter-picker {
			width: 50%;
		}
	}
}
