@import './filters_menu';
:root {
	--ilvl-cell-width: 3rem;
	--source-cell-width: 16rem;
	--ep-cell-width: 4rem;
	--icon-cell-width: 2rem;
}

.gear-picker-root {
	&:not(.gear-picker-root-bulk) {
		display: grid;
		gap: var(--section-spacer);
		grid-template-columns: 1fr 1fr;

		@include media-breakpoint-down(sm) {
			grid-template-columns: 1fr;
		}
	}

	.gear-picker-left {
		.item-picker-root {
			flex-direction: row;
			text-align: left;

			// Add space to separate weapon categories
			&:nth-child(6) {
				margin-bottom: calc(var(--spacer-3) * 2);
			}
		}
	}

	.gear-picker-right {
		.item-picker-root {
			flex-direction: row-reverse;
			@include media-breakpoint-down(md) {
				flex-direction: row;
			}

			.item-picker-labels-container {
				align-items: flex-end;
				text-align: right;
				@include media-breakpoint-down(md) {
					align-items: flex-start;
				}
			}
		}
	}
}

.item-picker-root {
	display: flex;

	&:not(:last-child) {
		margin-bottom: var(--block-spacer);
	}

	.item-picker-labels-container {
		padding: var(--spacer-2);
		padding-bottom: 0;
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		.item-picker-name,
		.item-picker-enchant,
		.item-picker-rune {
			letter-spacing: normal;

			.gear-picker-right & {
				text-align: right;
				@include media-breakpoint-down(md) {
					text-align: left;
				}
			}
		}

		.item-picker-name {
			color: var(--bs-white);
			font-size: var(--h6-font-size);
		}
		.item-picker-enchant {
			color: var(--bs-uncommon);
			font-size: var(--content-font-size);
		}
		.item-picker-rune {
			color: var(--bs-brand);
			font-size: var(--content-font-size);
		}
	}

	.item-picker-rune-container {
		@include vertical-top;
		@include horizontal-right;
		display: flex;
		justify-content: center;

		.item-picker-rune-icon {
			width: 1.75rem;
			height: 1.75rem;
		}
	}
}

.item-picker-icon-wrapper {
	position: relative;
	width: 4rem;
	height: 4rem;
	border: var(--border-default);

	@include media-breakpoint-down(lg) {
		width: 3rem;
		height: 3rem;
	}
}

.item-picker-icon {
	@include wowhead-background-icon;
	height: 100%;
	width: 100%;

	.item-picker-labels-container {
		align-items: flex-start;
		text-align: left;
	}
}

.gear-picker-modal-slots {
	// Without this the slots are not clickable
	pointer-events: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: -1px;
	z-index: 1;
	@include media-breakpoint-down(sm) {
		display: none;
	}

	.item-picker-icon-wrapper {
		width: var(--icon-size-md);
		height: var(--icon-size-md);
		border-color: var(--bs-modal-border-color);

		&.active {
			width: calc(var(--icon-size-md) + var(--spacer-2));
			height: calc(var(--icon-size-md) + var(--spacer-2));
			border-width: 2px;
			border-right: 0;
		}

		&:nth-child(6),
		&:nth-child(14) {
			// Spacing between ragdoll sections
			margin-bottom: var(--spacer-3);
		}

		&:not(:first-child) {
			margin-top: -1px;
		}
	}
}

.selector-modal {
	.selector-modal-title {
		margin-bottom: 0;
	}

	.modal-header {
		padding-bottom: 0;

		.selector-modal-tabs {
			border-bottom: 0;
		}
	}
}

.selector-modal-tab-content {
	.selector-modal-tab-pane {
		padding: 0;

		.selector-modal-filters {
			margin-bottom: var(--bs-modal-padding);
			display: flex;
			align-items: center;

			& > *:not(:last-child) {
				margin-right: var(--spacer-2);
			}

			input,
			select {
				padding-top: var(--btn-padding-y);
				padding-bottom: var(--btn-padding-y);
				font-size: var(--btn-font-size);
			}
		}
	}
}

.selector-modal-search {
	max-width: 12rem;
}

.selector-modal-phase-selector {
	min-width: 7rem;

	.phase-selector {
		margin-bottom: 0;
	}
}

.selector-modal-remove-button {
	margin-left: auto;
}

.selector-modal-list-labels {
	display: flex;
	padding-right: var(--spacer-2);
	margin-right: var(--spacer-3);
	margin-bottom: var(--spacer-2);
	font-size: 1.125rem;
	justify-content: space-between; // Ensures labels are evenly spaced
	gap: var(--spacer-3);

	@include media-breakpoint-down(xl) {
		margin-right: 0;
	}

	.item-label {
		flex: 1;
		margin-right: var(--spacer-2);
	}
	.ilvl-label {
		width: var(--ilvl-cell-width);
	}
	.source-label {
		width: var(--source-cell-width);
	}
	.ep-label {
		width: var(--ep-cell-width);
		display: flex;
		align-items: center;
		float: right;
	}

	.favorite-label,
	.compare-label {
		width: var(--icon-cell-width);
	}
}

.selector-modal-list {
	width: 100%;
	max-height: 65vh;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0;
	margin-bottom: 0;

	&.hide-ep {
		.selector-modal-list-item-ep {
			display: none;
		}
	}
}

// TODO: Move all of these to a shared file, as they're used in other places too
.selector-modal-list-item {
	padding: var(--spacer-2);
	display: flex;
	align-items: center;
	background-color: var(--bs-gray-900);
	gap: var(--spacer-3);

	&:nth-child(2n) {
		background: var(--bs-table-row-even-bg);
	}

	&:nth-child(2n + 1) {
		background: var(--bs-table-row-odd-bg);
	}

	&:hover {
		background: var(--bs-gray-800);
	}

	&.active {
		.selector-modal-list-item-icon {
			outline: 2px solid var(--bs-success);
		}
	}
	.selector-modal-list-item-link {
		display: flex;
		align-items: center;
	}

	.selector-modal-list-label-cell {
		flex: 1;
		display: flex;
		align-items: center;
	}

	.selector-modal-list-item-icon {
		@include wowhead-background-icon;
		width: 3rem;
		height: 3rem;
		border: var(--border-default);
	}

	.selector-modal-list-item-name {
		font-size: 1.125rem;
		margin-left: var(--spacer-2);
		letter-spacing: normal;
		font-weight: normal;
		cursor: pointer;
	}
}

.selector-modal-list-item-ilvl-container {
	width: var(--ilvl-cell-width);
}

.selector-modal-list-item-source-container {
	width: var(--source-cell-width);
}

.selector-modal-list-item-favorite,
.selector-modal-list-item-compare {
	width: var(--icon-cell-width);
}

.selector-modal-list-item-ep {
	width: var(--ep-cell-width);
	display: flex;
	align-items: center;

	& > span {
		display: inline-block;
		color: var(--bs-white);
		text-align: right;
	}

	.selector-modal-list-item-ep-delta {
		margin-left: var(--spacer-1);
		font-size: 0.8rem;
	}
}

// All of these icon widths are the original image sizes. They're too small that scaling them up looks horrible.
.item-source-icon-drop {
	// Original image is 12 x 16 but for nice alignment add 2px padding for a total width of 16px
	width: 16px;
	height: 16px;
	padding: 0 2px;
}

.item-source-icon-vendor {
	width: 16px;
	height: 16px;
}

.item-source-icon-profession {
	width: 16px;
	height: 16px;
}

.item-source-icon-quest {
	width: 16px;
	height: 16px;
}

.item-source-icon-alliance,
.item-source-icon-horde {
	width: 15px;
	height: 15px;
}
