@use 'sass:map';

.item-swap-picker-root {
	display: grid;
	gap: var(--block-spacer);

	.input-item-swap-container {
		flex-wrap: wrap;
		gap: var(--block-spacer);
	}

	label {
		width: unset !important;
	}

	.picker-group {
		// Override a width: 100% from the default picker group
		width: unset;
		align-items: center;
		justify-content: flex-end;
	}
}
