@use "sass:map";

.item-swap-picker-root {
  label {
    width: unset !important;
  }

  .picker-group {
    // Override a width: 100% from the default picker group
    width: unset;
    align-items: center;
    justify-content: flex-end;

    &> * {
      margin-bottom: 0 !important;
      margin-right: 0 !important;
      
      &:not(:first-child) {
        margin-left: map-get($spacers, 1);
      }
    }
  }
}
