.unit-picker-root {
	.unit-filter-option {
		height: 30px;
	}

	.unit-picker-item-icon {
		width: var(--icon-size-sm);
		height: var(--icon-size-sm);
		margin-right: map-get($spacers, 1);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
